.main_page_title{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 35px;
}
.form_container{
    margin: auto;
    width: 60%;
}
.input_container{
    display: flex;
    margin-top: 40px;
}
.input_container label{
    width: 150px;
    margin-top: 10px;
}
.input_container .form-control:focus{
    box-shadow: 0 0 0 0.25rem #2e319236;
    border: #2E3192;
}
.submit_form button,
.edit_button button{
    background-color: #2E3192;
    color: white;
    border-color: #2E3192;
    border-radius: 10px;
    padding: 10px;
}
.submit_form,
.edit_button{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.success_message{
    background-color: #2e319236;
    color: red;
    padding: 15px;
    margin-bottom: 40px;
    font-weight: bold;
}
.error_display{
    color:red;
    margin-top: 15px;
}
.admin_list_table tbody:hover{
    background-color: #2e319236;
}
.main_page_container{
    margin-left: 20px;
}
.add_data_button{
    background-color:#2E3192; 
    color:white; 
    text-decoration:none; 
    margin-top: 25px;
    display: block;
    width: fit-content;
    padding: 12px;
    border-radius: 10px;
}
.admin_list_table{
    width: auto; 
    border-collapse: collapse;
    max-width: 100%; 
    margin-top: 30px; 
}
.add_data_button_container{
    display: flex;
}
.form_container .form-check-input:checked {
    background-color: #2E3192;
    border-color: #2e319236;
}