.user_function_container{
  cursor: pointer;
}
.sidebar_container{
   background-color: #2e31925e;
   height: 200vh;
}
.function_item{
  display: flex;
  flex-direction: column;
}
.function_item a{
  text-decoration: none;
  color: black;
  padding-left: 20px;
  margin-bottom: 18px;
  font-size: 20px;
}
.function_item a:hover,
.function_item a:focus{
  background-color: #2E3192;
  color: white;
  outline: none;
}
.function_title{
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}
