.admin_option{
    display: flex;
}
.edit_option, 
.delete_option, 
.show_detail_option{
    cursor: pointer;
    margin-right: 10px;
}
.edit_option img, 
.delete_option img, 
.show_detail_option img{
    width: 17px
}