.admin_edit_input{
    display: flex;
    margin-left: 25%;
    margin-bottom: 35px;
}
.admin_edit_input label{
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.admin_edit_input .form-control{
    width: 45%;
}
.admin_edit_form button{
    background-color: #2E3192;
    color: white;
}
.admin_edit_button{
    margin-left: 45%;
    margin-top: 40px;
}
.admin_edit_submit_button{
    margin-left: 25px;
}
.admin_edit_submit_button:hover,
.admin_edit_edit_button:hover{
    background-color: #2e319236;
    color: #2E3192;
}
.admin_edit_input .form-control:focus{
    box-shadow: 0 0 0 0.25rem #2e319236;
    border: #2E3192;
}