.dropdown:hover .account_menu_box{
  display: block;
}
.dropdown .account_menu li {
  list-style-type: none;
}
.dropdown .account_menu{
  position: absolute;
  background-color: white;
  border-color: #2E3192;
  padding-left: 0px;
}
.dropdown .account_menu_box{
  background-color:transparent; 
  border:none;
  height: 45px;
}
.account_information_option{
  position: relative;
  display: flex;
  justify-content: end;
  margin-top: 25px;
  padding-right: 60px;
}
.admin_header_container .account_menu{
  position: absolute;
  top: 35px;
  left: 15px;
}
.account_menu_box .dropdown-item:hover{
  background-color: #2E3192;
  color: white;
}