.receiver_info{
    margin-left: 10px;
}
.receiver_address{
    margin-bottom: unset;
}
.receiver_name, 
.receiver_phone{
    font-weight: 600;
}
.receiver_name{
    border-right: 1px solid gainsboro;
    padding-right: 20px;
}
.receiver_phone{
    padding-left: 20px;
}

.payment_by_card{
    margin-top: 10px;
}
.payment_choose_wrapper button{
    padding: 15px 10px;
    display: block;
    width: 100%;
    border-radius: 12px;
    font-size: 18px;
    background-color: white;
}
.button_header{
    color: #2E3192;
    justify-content: space-between;
    margin-bottom: 10px;
}
.payment_by_cash_content {
    font-size: 16px;
}
.visible {
    display: block;
}
.hidden {
    display: none;
}
.payment_choose_wrapper button{
    padding-bottom: 6px;
    text-align: left;
}
.payment_choose_wrapper button {
    transition: height 0.3s ease-in-out;
}
.payment_choose_wrapper .hidden {
    height: 0;
    overflow: hidden;
}
.payment_choose_wrapper .visible {
    height: auto;
}
.shipping_information_header{
    display: flex;
    justify-content: space-between;
}
.shipping_information_header a{
    text-decoration: none;
    color: #2E3192;
}
.shipping_payment_wrapper{
    margin: auto;
    width: 70%
}
.order_button_container{
    display: flex;
    justify-content: center;
}